.categories { height:383px; }
.search { height:252px; }
.product-info .product-desc
{ background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/info.png', sizingMethod='scale');}

/* Adapted from:
  “Premium Web Templates, Email Templates, Responsive Templates, Mobile Templates, Free Templates,”
        ChocoTemplates, 2010. [Online]. Available: http://chocotemplates.com/. [Accessed: 17-Nov-2019].
*/